
*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}
/* page index start */
.introduction{
    width: 100%;
    height: 173vh;
    display: flex;
    background-image: url(secondpic.jpg);
    background-position: center;
    background-size: cover;
}
.img-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-box i,ul li a i,.container i{
    font-size: 30px;
}
.profile h2{
    font-size: 19px;
    text-transform: uppercase;
}
.profile{
    display: flex;
    align-items: center;
    gap: 30px;
}
.menu{
    background-color: rgba(255, 255, 255, 0.1);
    width: 50px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    transition: .5s;
    z-index: 99;
    position: fixed;
}
.menu:hover{
    width: 260px;
    background-color: rgba(62, 4, 70, 0.781);
}
@media (max-width: 604px) {
    .menu:hover{
        width: 50px;
    }
}
.menu ul{
    list-style: none;
    position: relative;
    height: 95%;
}
.menu ul li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu ul li a:hover, 
.data-info .box:hover, 
td:hover,.container:hover{
    background-color: #ffffff55;
}
.log-out{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.log-out a{
    background-color: #a00;
}

.data-info{
    display: flex;
    flex-wrap: wrap;

    /* align-items: center; */
    /* justify-content: space-between; */
    /* gap: 10px; */
}
.data-info .box{
    background-color: #123;
    height: 150px;
    width: 100%;
    z-index: 1;
    /* flex-basis: 150px;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around; */
}
/* .data-info .box .data{
    text-align: center; */

.data-info .box .data span{
    font-size: 30px;
}
.content{

    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.info{
    display: flex;
    align-items: center;
    width: 400px;
    margin-left: 20px;
}
.info h2{
    font-size: 3vw;
    margin-left: 10px;
}

.container{
    width: 100%;
    height: 20vh;
    overflow: hidden;
    margin: 10px 0 0px 120px;
    padding: 10px;
    border-radius: 8px;
}
.container P{
    margin-top: 8px;
}
/* page index end */
/* page web start */
.web{
    width: 100%;
    height: 1400vh;
    background: linear-gradient(to  left, black, rgb(75, 68, 68));
    display: flex;
    flex-direction: column;
    align-items: center;   
    font-size: 20; 
}
.web .menu{
    position: fixed;
    left: 0;
}
.web .menu:hover{
    background-color: rgb(2, 1, 1);
}
.web-header{
    width: 100%;
    height: 18vw;
    /* height: 100px; */
    background-image: url(webpic.avif);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.web-header h2{
    font-size: 4vw;
    /* font-size: 20px; */
}
@media (max-width: 500px) {
    .web-header{
        height: 120px;
    }
    .web-header h2,.frontend h2{
        font-size: 20px;
    }
}
.web-intro,
.frontend,
.backend{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px 10px 0px 60px; 
}
/* @media (max-width: 1230px) {
    .web-intro,
    .frontend,
    .backend{
        margin-left: 50px;
    }
}*/
@media (max-width: 960px) {
    .web-intro,
    .frontend,
    .backend{
        margin-left: 60px;
    }
}
@media (max-width: 880px) {
    .web-intro,
    .frontend,
    .backend{
        margin-left: 150px;
        margin-right: 20px;
    }
}
#web-line{
    margin-top: 10px;
}
.web-intro img, 
.frontend img,
.backend img,
.html video,
.css video,
.js video,
.php video,
.java video,
.python video,
.css-Frameworks-preprocessor video,
.js-library-framework video{
    width: 60%;
    margin: 30px 0;  
}
@media (max-width: 700px) {
    .web-intro img, 
    .frontend img,
    .backend img,
    .html video,
    .css video,
    .js video,
    .php video,
    .java video,
    .python video,
    .css-Frameworks-preprocessor video,
    .js-library-framework video{
        width: 90%;
    }
}
.web-intro ul,.frontend ul{
    list-style:disc;
}
hr{
    width: 90%;
    margin-top: 2px;
}
.frontend h3,
.backend h3{
    font-size: 15px;
    margin-bottom: 10px;
}
.frontend p,
.backend p{
    margin: 10px 0px;
}
.frontend a,
.backend a{
    text-decoration: none;
    font-weight: 800;
}
.html,
.css,
.js,
.php,
.python,
.java,
.node,
.css-Frameworks-preprocessor,
.js-library-framework{
    width: 100%;
}
/* page web end */
/* page game start */
.game{
    width: 100%;
    height: 1400vh;
    background: linear-gradient(to  left, black, rgb(75, 68, 68));
    display: flex;
    flex-direction: column;
    align-items: center;   
    font-size: 20;
}
.game-header{
    width: 100%;
    height: 20vw;
    background-image: url(gamepic.jpg);
    background-position:center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-header h2{
    font-size: 4vw;
}